
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(165deg, #cadbec, #f4e1b6) !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-top: 80px;
}

h1 {
  color: #f5f6f7  ;
  margin-bottom: 20px;
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgb(247, 240, 240) ;
}


.container {
  background: linear-gradient(165deg, #cadbec, #f4e1b6) !important;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 6px 15px rgba(0,0,0,0.2);
  text-align: center;
  width: 90%;
  max-width: 500px;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  color: #131213;
}

input[type="date"] {
  margin: 15px 0;
  padding: 8px;
  border-radius: 8px;
  border: 3px solid #6C557A;
  outline: none;
  transition: 0.3s;
  background-color: #f5f3ee;
}

input[type="date"]:focus {
  border-color: #6C557A;
  box-shadow: 0px 0px 6px rgba(74, 59, 82, 0.4);
}


.container2 {
  margin-top: 15px;
  text-align: left;
  padding: 10px;
}

.container2 label {
  display: block;
  margin-bottom: 8px;
  cursor: pointer;
}

/* =========================================================
   ===== IMAGEN LOGO =====
   ========================================================= */
img {
  width: 120px;
  height: auto;
  margin-left: auto;
}


.barra-superior {
  display: flex;
  align-items: center;
  padding: 8px 8px;
  background: linear-gradient(to right, #f0e1bc, #f0c2be) !important;
  height: 65px;
  box-shadow: 0 3px 5px rgba(26, 21, 21, 0.2);
  border-bottom-left-radius: 25px;  
  border-bottom-right-radius: 55px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;
}



/* Contenedor general del menú */
.menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  width: 100%;
  height: 0;
}

/* Checkbox oculto pero funcional */
.lineas-check {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Botón hamburguesa */
.Lineas {
  position: fixed;
  height: 40px;
  width: 40px;
  top: 12px;
  left: 12px;
  z-index: 1200;
  cursor: pointer;
  border-radius: 6px;
  background-color: #E6D6AD;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px #6C557A;
}

/* Líneas del icono */
.Lineas .common {
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: #6C557A;
  border-radius: 50px;
  transition: 0.3s ease;
}

.top_line { top: 30%; left: 50%; transform: translate(-50%, -50%); }
.middle_line { top: 50%; left: 50%; transform: translate(-50%, -50%); }
.bottom_line { top: 70%; left: 50%; transform: translate(-50%, -50%); }

/* Menú lateral */
.Menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background: linear-gradient(to bottom, #f0e1bc, #f0c2be);
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.2);
  transform: translateX(-110%);
  transition: transform 0.28s cubic-bezier(.2,.9,.2,1), box-shadow 0.2s;
  z-index: 1150;
}

/* Animación al abrir */
.lineas-check:checked ~ .Lineas .top_line {
  left: 2px;
  top: 14px;
  width: 25px;
  transform: rotate(45deg);
}

.lineas-check:checked ~ .Lineas .bottom_line {
  left: 2px;
  top: 14px;
  width: 25px;
  transform: rotate(-45deg);
}

.lineas-check:checked ~ .Lineas .middle_line {
  opacity: 0;
  transform: translateX(20px);
}

/* Mostrar menú */
.lineas-check:checked ~ .Menu {
  transform: translateX(0);
  box-shadow: 0 0 15px #6C557A;
}

/* Lista del menú */
.Menu .menu_titulo {
  color: #6C557A;
  margin-bottom: 12px;
  font-size: 20px;
}

.Menu ul {
  padding: 0;
  margin: 0;
}

.Menu ul li {
  list-style: none;
  margin-bottom: 8px;
}

.Menu ul li a {
  color: #6C557A;
  font-weight: 500;
  padding: 9px 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.12s ease-out;
}

.Menu ul li:hover a {
  color: #f0c2be;
  background-color: #6C557A;
  padding-left: 10px;
  border-radius: 8px;
}

.Menu ul li a i {
  color: #6C557A;
  min-width: 25px;
  text-align: center;
}


button {
  background: #f4e1b6 !important;
  color: #f6f7f8 !important;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  background: #f0c2be;
  color: #000;
}
